<?xml version="1.0"?>
<!DOCTYPE squad SYSTEM "squad.dtd">
<?xml-stylesheet href="squad.xsl?" type="text/xsl"?>
<squad nick="FA">
	<name>Folk ARPS</name>
	<email>hosts@folkarps.com</email>
	<web>www.folkarps.com</web>
	<picture>rasputin_512.paa</picture>
	<title>Folk ARPS</title>
    <!-- INCLUDE hosts.xml -->
    <!-- INCLUDE guests.xml -->
</squad>
