/*
  CSS template for "squad.xml", used in "Armed Assault" (Ref: "http://www.armedassault.com")
  and "Armed Assault 2" (Ref: "http://www.arma2.com")
  See also the Arma-Wiki page: "http://community.bistudio.com/wiki/squad.xml"
  Created by TomNedry, 26.Jan07
  Reviewed by TomNedry, 15.Jul09
  Lisence: Creative Common (http://creativecommons.org/licenses/by-nc-sa/2.5/deed.de)
  
*/

body
{
	font-family:Arial;
	background-color:#ABA7A0;
	margin:0px;
}

a:link 
{ 
	text-decoration:none; 
	color:#000000; 
}
a:visited 
{
	text-decoration:none; 
	color:#000000; 
}
a:hover 
{ 
	text-decoration:underline; 
	color:#000000;
}
a:active 
{ 
	text-decoration:underline; 
}
a:focus { 
	text-decoration:underline; 
}

table.sqd_info
{
	background-color:#FFFFFF;
	padding:4px;
	border-spacing: 2px;
}

table.member_info
{
	background-color:#FFFFFF;
	padding:4px;
}

th
{
	background-color:#828282;
	font-family:Arial; 
	font-size:10pt;
	font-weight:bold;
	text-transform:uppercase; 
	color:#FFFFFF;
	padding:4px;
}

tr.one
{
	background-color:#FFFFFF;
	width:100%;
	padding:4px;
}
tr.two
{
	background-color:#D2D2D2;
	width:100%;
	padding:4px;
}
td.zero
{
	color:#FFFFFF;
	background-color:#000000;
	width:100%;
}
td.one
{
	background-color:#FFFFFF;
	width:100%;
}
td.two
{
	background-color:#D2D2D2;
	width:100%;
}
.main
{
	text-align:center;
	width:80%;
	margin-left: auto;
    	margin-right: auto 
	border:0px solid #7788AE;
}
div.sqd_name
{
	text-align:center;
	font-family:Arial;
	font-size:12pt;
	font-weight:bold;
}
div.sqd_title
{
	text-align:center;
	font-family:Arial;
	font-size:10pt;
}
div.sqd_logo
{
	text-align:center;
	font-size:8pt;
	padding:5px;
}
.sqd_info
{
	
	width:75%;
	padding:0px;
	border-spacing:0px;
}
.sqd_website
{
	font-family:Arial; 
	font-size:10pt;
	text-align:center;
	background-color:#D2D2D2;
	width:100%;
	padding:4px;
	border-spacing:0px;
}
.sqd_email
{
	font-family:Arial; 
	font-size:10pt;
	text-align:center;
	background-color:#D2D2D2;
	width:100%;
	padding:4px;
	border-spacing:0px;
}
.center-row
{
	width:100%;
	padding-left:10%;
	padding-right:10%;
}
.center-mem
{
	width:100%;
	padding-left:10%;
	padding-right:10%;
}
.left-row
{
	vertical-align:top;
	height:100%;
}
.right-row
{
	vertical-align:top;
	height:100%;
}
.member_info
{
	
	width:75%;
	padding:0px;
	border-spacing:0px;
}
.member_name
{
	font-family:Arial;
	color:black;
	font-size:10pt;
	padding:4px;
}
.member_email
{
	font-family:Arial;
	color:black;
	font-size:10pt;
	padding:4px;
	text-align:center;
}
.member_icq
{
	font-family:Arial;
	color:black;
	font-size:10pt;
	padding:4px;
	text-align:center;
}
.member_remark
{
	font-family:Arial;
	color:black;
	font-size:10pt;
	text-align:center;
}
